.banner{
    height: 75px;
    margin: 0px -10px 10px;
    background-color: black;
    border-radius: 2px;
    
}

.banner h1{
    color: green;
    padding-top; 10px;
    margin-left: 2px;
    display: inline-block;
    
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
    width: 100px;
    
}